.content-style {
  position: relative;
  margin: 0;
  aspect-ratio: 9/3.6;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  .content-style {
    height: 400px;
  }
}
.content-style {
  position: relative;
  margin: 0;
  aspect-ratio: 9/3.6;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-content {
  position: absolute;
  bottom: 30%;
  left: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 4vw;
  text-align: center;
}

@media (max-width: 1200px) {
  .content-style {
    height: 400px;
  }
}
